#fadeContent{
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    display: none;
}

#slide, #slideContent,.heading,.content{
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}
#slideContent,.content{
    display: none;
    padding:50px;
}
.color{
    color:#98bf21;
}
.fontSize{
    font-size: 24px;
    font-weight: 200;
}